.bootstrap-wrapper .col-md-4{
    float:left;
    height:300px;
    text-align: center;
    overflow: hidden;
}
.bootstrap-wrapper .col-md-4 .content{
    background: #eee;
    border: 1px solid #ccc;
    height: 225px;
    font-size: 50px;
    margin-right:20px;

}
.bootstrap-wrapper .col-md-4 h3{
    height: 65px;
}
.bootstrap-wrapper .col-md-4 .content td{
    max-width: 390px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.bootstrap-wrapper .col-md-4 .content span{
    display:inline-block;
    margin-top:75px;
}
.bootstrap-wrapper .col-md-4 .content table{
    font-size:10px;
}